openapi: 3.0.1
info:
  title: Working Group TWO
  description: Working Group Two REST APIs
  contact:
    email: wgtwo@wgtwo.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: 1.0.0
externalDocs:
  description: See docs.wgtwo.com
  url: 'https://docs.wgtwo.com'
servers:
  - url: 'https://api.wgtwo.com'
tags:
  - name: Subscription Profile
    description: Provision services for subscribers
    externalDocs:
      description: Find out more
      url: 'https://docs.wgtwo.com'
paths:
  /subscription/v1/msisdn/{msisdn}:
    get:
      tags:
        - Subscription Profile
      parameters:
        - name: msisdn
          in: path
          description: Phone number formatted as e.164 without + prefix
          required: true
          schema:
            type: string
            example: 4799990000
      summary: Get information about subscription
      operationId: getSubscription
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '404':
          description: Subscription not found
          content: {}

  /provision/v1/activate:
    post:
      tags:
        - Subscription Profile
      summary: New user signs up
      operationId: activate.sim
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - bssid
                - iccid
                - msisdn
                - userid
              properties:
                bssid:
                  type: string
                iccid:
                  type: string
                msisdn:
                  type: string
                userid:
                  type: string
            example:
              bssid: "operator_name"
              iccid: "2420198416000015720"
              msisdn: "46737678218"
              userid: "abcdefghijklm"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription or sim not found
          content: {}

  /provision/v1/block:
    post:
      tags:
        - Subscription Profile
      summary: Block SIM
      operationId: block.sim
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - bssid
                - msisdn
                - userid
              properties:
                bssid:
                  type: string
                msisdn:
                  type: string
                userid:
                  type: string
            example:
              bssid: "operator_name"
              msisdn: "46737678218"
              userid: "abcdefghijklm"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v1/changesim:
    post:
      tags:
        - Subscription Profile
      summary: Change SIM
      operationId: change.sim
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - bssid
                - newIccid
                - oldIccid
                - msisdn
                - userid
              properties:
                bssid:
                  type: string
                newIccid:
                  type: string
                oldIccid:
                  type: string
                msisdn:
                  type: string
                userid:
                  type: string
            example:
              bssid: "operator_name"
              oldIccid: "2420198416000015720"
              newIccid: "2420198412148748973"
              msisdn: "46737678218"
              userid: "abcdefghijklm"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v1/disengagesim:
    post:
      tags:
        - Subscription Profile
      summary: Disengage SIM
      operationId: disengage.sim
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - bssid
                - iccid
                - msisdn
                - userid
              properties:
                bssid:
                  type: string
                iccid:
                  type: string
                msisdn:
                  type: string
                userid:
                  type: string
            example:
              bssid: "operator_name"
              iccid: "2420198416000015720"
              msisdn: "46737678218"
              userid: "abcdefghijklm"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v1/changemsisdn:
    post:
      tags:
        - Subscription Profile
      summary: Change MSISDN
      operationId: change.msisdn
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - bssid
                - msisdn
                - newMsisdn
                - userid
              properties:
                bssid:
                  type: string
                msisdn:
                  type: string
                newMsisdn:
                  type: string
                userid:
                  type: string
            example:
              bssid: "operator_name"
              iccid: "2420198416000015720"
              msisdn: "46737678218"
              newMsisdn: "46737678200"
              userid: "abcdefghijklm"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v1/terminate:
    post:
      tags:
        - Subscription Profile
      summary: Terminate
      operationId: terminate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - bssid
                - msisdn
                - userid
              properties:
                bssid:
                  type: string
                msisdn:
                  type: string
                userid:
                  type: string
            example:
              bssid: "operator_name"
              msisdn: "46737678218"
              userid: "abcdefghijklm"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v1/unblock:
    post:
      tags:
        - Subscription Profile
      summary: Unblock SIM
      operationId: unblock.sim
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - bssid
                - msisdn
                - userid
              properties:
                bssid:
                  type: string
                msisdn:
                  type: string
                userid:
                  type: string
            example:
              bssid: "operator_name"
              msisdn: "46737678218"
              userid: "abcdefghijklm"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v1/update:
    post:
      tags:
        - Subscription Profile
      summary: Update service
      operationId: updateService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequest'
            examples:
              enable-roaming:
                value:
                  bssid: "operator_name"
                  service:
                    name: ROAMING_DATA
                    action: ADD
                  msisdn: 4799990000
                  userid: my-user-id
              enable-user-tokens:
                value:
                  bssid: "operator_name"
                  service:
                    name: API_ACCESS_TO_OWN_SUBSCRIPTION
                    action: ADD
                  msisdn: 4799990000
                  userid: my-user-id
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v1/refreshprofile:
    post:
      tags:
        - Subscription Profile
      summary: Refresh profile
      operationId: refresh
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - bssid
                - msisdn
              properties:
                bssid:
                  type: string
                msisdn:
                  type: string
            example:
              bssid: "operator_name"
              msisdn: "46737678218"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /subscription/v2/msisdn/{msisdn}:
    get:
      tags:
        - Subscription Profile v2 (Under development)
      parameters:
        - name: msisdn
          in: path
          description: Phone number formatted as e.164 without + prefix
          required: true
          schema:
            type: string
            example: 4799990000
      summary: Get information about subscription
      operationId: getSubscription.v2
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptionv2'
        '404':
          description: Subscription not found
          content: {}

  /provision/v2/activate:
    post:
      tags:
        - Subscription Profile v2 (Under development)
      summary: New user signs up
      operationId: activate.sim.v2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - iccid
                - msisdn
                - roamingprofile
                - apnprofile
              properties:
                userid:
                  type: string
                  description: This is an optional field from v2
                iccid:
                  type: string
                msisdn:
                  type: string
                roamingprofile:
                  type: string
                apnprofile:
                  type: string
                services:
                  type: object
                  properties:
                    add:
                      type: array
                      items:
                        $ref: '#/components/schemas/ServiceObject'
            example:
              iccid: "2420198416000015720"
              msisdn: "46737678218"
              roamingprofile: "roamingprofile1"
              apnprofile: "apnprofile1"
              services:
                add:
                  - servicename: "SMS_OUT_INT_HOME"
                  - servicename: "VOICE_PREMIUM_INFO"
                  - servicename: "VOICE_CALLWAITING"
                    config:
                      active: false
                  - servicename: "VOICE_CALLER_ID_PRESENTATION"
                    config:
                      active: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription or sim not found
          content: {}

  /provision/v2/update:
    put:
      tags:
        - Subscription Profile v2 (Under development)
      summary: Update subscription
      operationId: updateSubscription.v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequestV2'
            example:
              msisdn: "46737678218"
              roamingprofile: "roamingprofile1"
              apnprofile: "apnprofile1"
              services:
                add:
                  - servicename: "SMS_IN_HOME"
                  - servicename: "SMS_IN_ROAM"
                  - servicename: "SMS_OUT_HOME"
                  - servicename: "SMS_OUT_ROAM"
                  - servicename: "SMS_OUT_INT_HOME"
                  - servicename: "SMS_OUT_INT_ROAM"
                  - servicename: "VOICE_PREMIUM_INFO"
                remove:
                  - servicename: "VOICE_VOLTE"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v2/block:
    post:
      tags:
        - Subscription Profile v2 (Under development)
      summary: Block Subscription
      operationId: block.sim.v2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userid:
                  type: string
                  description: This is an optional field from v2
                iccid:
                  type: string
                  description: One of msisdn, iccid, imsi is required
                msisdn:
                  type: string
                  description: One of msisdn, iccid, imsi is required
                imsi:
                  type: string
                  description: One of msisdn, iccid, imsi is required
            example:
              msisdn: "46737678218"
              userid: "abcdefghijklm"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v2/changesim:
    post:
      tags:
        - Subscription Profile v2 (Under development)
      summary: Change SIM
      operationId: change.sim.v2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - msisdn
              properties:
                userid:
                  type: string
                  description: This is an optional field from v2
                newIccid:
                  type: string
                oldIccid:
                  type: string
                msisdn:
                  type: string
            example:
              oldIccid: "2420198416000015720"
              newIccid: "2420198412148748973"
              msisdn: "46737678218"
              userid: "abcdefghijklm"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v2/disengagesim:
    post:
      tags:
        - Subscription Profile v2 (Under development)
      summary: Disengage SIM
      operationId: disengage.sim.v2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - msisdn
              properties:
                userid:
                  type: string
                  description: This is an optional field from v2
                iccid:
                  type: string
                msisdn:
                  type: string
            example:
              iccid: "2420198416000015720"
              msisdn: "46737678218"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v2/changemsisdn:
    post:
      tags:
        - Subscription Profile v2 (Under development)
      summary: Change MSISDN
      operationId: change.msisdn.v2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - msisdn
                - newMsisdn
              properties:
                userid:
                  type: string
                  description: This is an optional field from v2
                msisdn:
                  type: string
                newMsisdn:
                  type: string
                iccid:
                  type: string
            example:
              iccid: "2420198416000015720"
              msisdn: "46737678218"
              newMsisdn: "46737678200"

      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v2/terminate:
    post:
      tags:
        - Subscription Profile v2 (Under development)
      summary: Terminate
      operationId: terminate.v2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userid:
                  type: string
                  description: This is an optional field from v2
                msisdn:
                  type: string
                  description: One of msisdn, iccid, imsi is required
                iccid:
                  type: string
                  description: One of msisdn, iccid, imsi is required
                imsi:
                  type: string
                  description: One of msisdn, iccid, imsi is required
            example:
              msisdn: "46737678218"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

  /provision/v2/unblock:
    post:
      tags:
        - Subscription Profile v2 (Under development)
      summary: Unblock SIM
      operationId: unblock.sim.v2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userid:
                  type: string
                  description: This is an optional field from v2
                msisdn:
                  type: string
                  description: One of msisdn, iccid, imsi is required
                iccid:
                  type: string
                  description: One of msisdn, iccid, imsi is required
                imsi:
                  type: string
                  description: One of msisdn, iccid, imsi is required
            example:
              msisdn: "46737678218"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}


  /provision/v2/cancelocation:
    post:
      tags:
        - Subscription Profile v2 (Under development)
      summary: Cancel location
      operationId: cancel.location
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bssid:
                  type: string
                msisdn:
                  type: string
                  description: One of msisdn, iccid, imsi is required
                iccid:
                  type: string
                  description: One of msisdn, iccid, imsi is required
                imsi:
                  type: string
                  description: One of msisdn, iccid, imsi is required
            example:
              imsi: "24206123456789"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Invalid input
          content: {}
        '404':
          description: Subscription not found
          content: {}

components:
  schemas:
    UpdateSubscriptionRequest:
      type: object
      required:
        - bssid
        - service
        - msisdn
        - userid
      properties:
        bssid:
          type: string
        service:
          type: object
          required:
            - name
            - action
          properties:
            name:
              type: string
              enum:
                - DATA
                - DATA_HIGHSPEED
                - DATA_TETHERING
                - MMS_IN
                - MMS_OUT
                - ROAMING
                - ROAMING_DATA
                - SMS_IN
                - SMS_OUT
                - SMS_OUT_INTER
                - SMS_PREMIUM
                - VOICE_CALLFORWARD
                - VOICE_CALLWAITING
                - VOICE_IN
                - VOICE_MISSED_CALL_ALERT
                - VOICE_OUT
                - VOICE_OUT_INTER
                - VOICE_PREMIUM
                - VOICE_VOICEMAIL
                - VOICE_VOLTE
                - VOICE_VOWIFI
                - VOICEMAIL_DISABLE_NOTIFICATION
              example: ROAMING_DATA
            action:
              type: string
              enum:
                - ADD
                - REMOVE
              example: ADD
            configuration:
              type: object
        msisdn:
          type: string
          example: '4799990000'
        userid:
          type: string
    UpdateSubscriptionResponse:
      type: object
      properties:
        requestid:
          type: string
    Subscription:
      type: object
      properties:
        id:
          type: integer
        msisdn:
          type: string
          example: '4799990000'
        active:
          type: boolean
          example: true
        userId:
          type: string
        bss:
          type: string
        simcards:
          type: array
          items:
            type: object
            properties:
              imsis:
                type: array
                items:
                  type: string
                  example:
                    - (...)001
                    - (...)002
              iccid:
                type: string
              bss:
                type: string
              created:
                type: string
                format: date-time
              lastModified:
                type: string
                format: date-time
        services:
          type: object
          additionalProperties:
            type: object
          example:
            SERVICE_A: {}
            SERVICE_B:
              some: config
        created:
          type: string
          format: date-time
        lastModified:
          type: string
          format: date-time
        imsi:
          type: string
        iccid:
          type: string
    Subscriptionv2:
      type: object
      properties:
        id:
          type: integer
        msisdn:
          type: string
          example: '4799990000'
        active:
          type: boolean
          example: true
        userId:
          type: string
        bss:
          type: string
        simcards:
          type: array
          items:
            type: object
            properties:
              imsis:
                type: array
                items:
                  type: string
                  example:
                    - (...)001
                    - (...)002
              iccid:
                type: string
              bss:
                type: string
              created:
                type: string
                format: date-time
              lastModified:
                type: string
                format: date-time
        services:
          type: array
          items:
            $ref: '#/components/schemas/ServiceObject'
        roamingprofile:
          type: string
        apnprofile:
          type: string
        created:
          type: string
          format: date-time
        lastModified:
          type: string
          format: date-time
    ServiceObject:
      type: object
      required:
        - servicename
      properties:
        servicename:
          $ref: '#/components/schemas/ServiceNamesV2'
        config:
          type: object
          required:
            - active
          properties:
            active:
              type: boolean
              description: Use this field to set the provisioned state of a supplementary service.
    UpdateSubscriptionRequestV2:
      type: object
      required:
        - msisdn
      properties:
        msisdn:
          type: string
          example: '4799990000'
        userid:
          type: string
        roamingprofile:
          type: string
        apnprofile:
          type: string
        services:
          type: object
          properties:
            add:
              type: array
              items:
                $ref: '#/components/schemas/ServiceObject'
            delete:
              type: array
              items:
                type: object
                properties:
                  servicename:
                    $ref: '#/components/schemas/ServiceNamesV2'
    ServiceNamesV2:
      type: string
      enum:
        - DATA_3G_HOME
        - DATA_3G_ROAM
        - DATA_4G_HOME
        - DATA_4G_ROAM
        - DATA_5G_HOME
        - DATA_5G_ROAM
        - DATA_HIGHSPEED
        - DATA_TETHERING
        - MMS_IN_HOME
        - MMS_IN_ROAM
        - MMS_OUT_HOME
        - MMS_OUT_ROAM
        - MMS_OUT_INTER_HOME
        - MMS_OUT_INTER_ROAM
        - SMS_IN_HOME
        - SMS_IN_ROAM
        - SMS_OUT_HOME
        - SMS_OUT_ROAM
        - SMS_OUT_INTER_HOME
        - SMS_OUT_INTER_ROAM
        - SMS_PREMIUM
        - USER_CS_BLOCK_OUT
        - USER_CS_BLOCK_IN
        - USER_CS_BLOCK_OUT_INTER
        - USER_CS_BLOCK_OUT_INTER_EXC_HOME
        - VOICE_CALLFORWARD
        - VOICE_CALLWAITING
        - VOICE_CALLER_ID_PRESENTATION
        - VOICE_CALLER_ID_RESTRICTION
        - VOICE_CONFERENCE
        - VOICE_IN_HOME
        - VOICE_IN_ROAM
        - VOICE_OUT_HOME
        - VOICE_OUT_ROAM
        - VOICE_OUT_INTER_HOME
        - VOICE_OUT_INTER_ROAM
        - VOICE_PREMIUM_INFO
        - VOICE_PREMIUM_ENTERTAINMENT
        - VOICE_VOLTE
        - VOICE_VOWIFI
        - VOICEMAIL_DISABLE_NOTIFICATION
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://id.wgtwo.com/oauth2/token
          scopes:
            subscription.read: Read subscription information
            subscription.write: Update subscription
    operatorKey:
      type: http
      scheme: basic
      description: API key provided by Working Group Two
security:
  - operatorKey: []
  - OAuth2:
      - subscription.read
      - subscription.write
