name: Build Java packages

on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - '*.md'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - '*.md'
      - '.gitignore'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup mise
        uses: jdx/mise-action@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Make Maven Wrapper executable
        if: contains(matrix.os, 'win') == false
        run: chmod +x mvnw
      - name: Package v1
        run: ./mvnw --file wgtwo/pom-v1.xml package
      - name: Package v0
        run: ./mvnw --file wgtwo/pom-v0.xml package
