name: pre-commit

on:
  push:
    branches:
      - 'master'
  pull_request: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: pre-commit
        uses: pre-commit/action@v3.0.0
